Source: ros-rolling-snowbot-operating-system
Section: misc
Priority: optional
Maintainer: David V. Lu!! <davidvlu@gmail.com>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ament-cmake, ros-rolling-ament-cmake-clang-format, ros-rolling-ament-cmake-ros, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-rviz-common, ros-rolling-rviz-rendering, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-snowbot-operating-system
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-rolling-ament-cmake-ros, ros-rolling-geometry-msgs, ros-rolling-pluginlib, ros-rolling-rviz-common, ros-rolling-rviz-rendering, ros-rolling-ros-workspace
Description: The weather outside is frightful
